<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard2</a>
    <ul>
      
          <li class="active"><a href="@Url.Action("Dashboard","Home")"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>  
       
         @if (User.IsInRole("Global_SupAdmin") || User.IsInRole("Service_Setting"))
        {
          <li><a href="@Url.Action("Index","Service")"><i class="icon icon-fullscreen"></i> <span>Service</span></a> </li>  
        } 
         @if (User.IsInRole("Global_SupAdmin") || User.IsInRole("Counter_Setting"))
        {
          <li><a href="@Url.Action("Dashboard","Home")"><i class="icon icon-inbox"></i> <span>Counter</span></a> </li>  
        } 
        @if (User.IsInRole("Global_SupAdmin") || User.IsInRole("User_Setting"))
        {
       <li class="submenu">
            <a href="#"><i class="icon icon-user"></i> <span>User Setting</span> <span class="label label-important">2</span></a>
            <ul>
                <li><a href="@Url.Action("Index","User")">Users</a></li>
                <li><a href="@Url.Action("Roles","User")">Roles</a></li>
                
            </ul>
        </li>       
        }
        
    
    </ul>
</div>
